.DS_Store
*.git.bck/
*.swp
tmp/

examples/poc
examples/calc
examples/text_view
examples/hello
examples/load_ui
examples/custom_signal
examples/autosaver
examples/seven_tasks
examples/menu

scripts/cpp2xml
scripts/distr
scripts/generateTypeDb
scripts/nimqt_paths
scripts/nimqt
scripts/skips
scripts/typeDb
cripts/xml2nimlib
